.sp-toggle {
    font-family: "SP Atlassian Icons";
    cursor: pointer;
}

.sp-collapsed .sp-toggle::before {
    content: "\f11c";
}

.sp-expanded .sp-toggle::before {
    content: "\f15b";
}

.leaf .sp-toggle::before {
    content: "";
    cursor: default;
    display: inline-block;
    width: 14px;
}

ul.nav.sp-tree, .sp-tree ul.nav {
    list-style: none;
}

ul.nav.sp-tree {
    padding-left: 0;
}

.sp-collapsed .nav {
    display: none;
}